// Colours

$color-light-grey: #f6f7f6;
$color-medium-grey: #eee;
$color-red: #f00;


// Breakpoints

$breakpoint-ex-small: 520px;
$breakpoint-small: 640px;


// Defaults

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: helvetica, sans-serif;
}

table {
  border: 1px solid $color-medium-grey;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

tr {
  border-bottom: 1px solid $color-medium-grey;
}

th {
  background-color: $color-light-grey;
}

th, td {
  padding: 0.75em;
  vertical-align: top;
}


// Layout

.l-container {
  padding: 1rem;
}

.l-content {
  width: 100%;
  max-width: 42rem;
  margin: 3rem auto;
}


// Table module

.m-table {
  font-size: 12px;

  @media all and (min-width: $breakpoint-small) {
    font-size: 14px;
  }
}

.m-table--departures {
  th, td {
    &:first-child {
      width: 20%;
    }

    &:nth-child(2) {
      width: 60%;
    }

    &:last-child {
      width: 20%;
      text-align: right;
    }
  }

  @media all and (min-width: $breakpoint-ex-small) {
    th, td {
      &:first-child {
        width: 10%;
      }

      &:nth-child(2) {
        width: 15%;
      }

      &:nth-child(3) {
        width: 35%;
      }

      &:nth-child(4) {
        width: 30%;
      }

      &:nth-child(5) {
        width: 10%;
      }
    }
  }
}

.m-table__cell--time,
.m-table__cell--operator {
  display: none;

  @media all and (min-width: $breakpoint-ex-small) {
    display: table-cell;
  }
}

.m-table__subcell {
  font-size: 11px;
  color: #999;

  @media all and (min-width: $breakpoint-ex-small) {
    display: none;
  }
}


// Utilities

.u-text--danger {
  color: $color-red;
}

