<h2>{{stationName}}</h2>

<table class="m-table m-table--departures">
  <thead>
    <tr>
      <th>Due</th>
      <th class="m-table__cell--time">Expected</th>
      <th>Destination</th>
      <th class="m-table__cell--operator">Operator</th>
      <th>Platform</th>
    </tr>
  </thead>
  <tbody>
    {{#trainServices}}
      <tr>
        <td>{{scheduledTime}}<br/><span class="m-table__subcell {{statusClass}}">{{expectedTime}}</span></td>
        <td class="m-table__cell--time"><span class="{{statusClass}}">{{expectedTime}}</span></td>
        <td>{{destination}}<br/><span class="m-table__subcell">{{operator}}</span></td>
        <td class="m-table__cell--operator">{{operator}}</td>
        <td>{{platform}}</td>
      </tr>
    {{/trainServices}}
  </tbody>
</table>
