<!doctype html>
<html>
  <head>
    {{#head}}
    <title>{{title}}</title>
    {{/head}}

    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <div class="l-container">
      <div class="l-content">
        <h1>Train Departures</h1>
        <form class="js-departures-form">
          <label for="station">Station</label>
          <input type="text" name="station" class="js-station-input" />
          <input type="submit" />
        </form>

        <div id="departures-list"></div>

        <h3>Previous searches</h3>
        <ul id="previous-searches"></ul>
      </div>
    </div>
    <script src="/assets/script.js"></script>
  </body>
</html>
