* {
  box-sizing: border-box; }

body {
  min-width: 320px;
  margin: 0;
  font-family: helvetica, sans-serif; }

table {
  border: 1px solid #eee;
  border-collapse: collapse;
  width: 100%;
  text-align: left; }

tr {
  border-bottom: 1px solid #eee; }

th {
  background-color: #f6f7f6; }

th, td {
  padding: 0.75em;
  vertical-align: top; }

.l-container {
  padding: 1rem; }

.l-content {
  width: 100%;
  max-width: 42rem;
  margin: 3rem auto; }

.m-table {
  font-size: 12px; }
  @media all and (min-width: 640px) {
    .m-table {
      font-size: 14px; } }

.m-table--departures th:first-child, .m-table--departures td:first-child {
  width: 20%; }

.m-table--departures th:nth-child(2), .m-table--departures td:nth-child(2) {
  width: 60%; }

.m-table--departures th:last-child, .m-table--departures td:last-child {
  width: 20%;
  text-align: right; }

@media all and (min-width: 520px) {
  .m-table--departures th:first-child, .m-table--departures td:first-child {
    width: 10%; }
  .m-table--departures th:nth-child(2), .m-table--departures td:nth-child(2) {
    width: 15%; }
  .m-table--departures th:nth-child(3), .m-table--departures td:nth-child(3) {
    width: 35%; }
  .m-table--departures th:nth-child(4), .m-table--departures td:nth-child(4) {
    width: 30%; }
  .m-table--departures th:nth-child(5), .m-table--departures td:nth-child(5) {
    width: 10%; } }

.m-table__cell--time,
.m-table__cell--operator {
  display: none; }
  @media all and (min-width: 520px) {
    .m-table__cell--time,
    .m-table__cell--operator {
      display: table-cell; } }

.m-table__subcell {
  font-size: 11px;
  color: #999; }
  @media all and (min-width: 520px) {
    .m-table__subcell {
      display: none; } }

.u-text--danger {
  color: #f00; }
